<%= turbo_frame_tag restaurant do %>
  <div id="<%= dom_id restaurant %>" class='border shadow p-3 my-2'>
    <p>
      <strong>Name:</strong>
      <%= restaurant.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= restaurant.address %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= restaurant.rating %>
    </p>

    <p>
      <%= link_to "Show this restaurant", restaurant_path(restaurant), data: {turbo_frame: restaurant} %>
      <%= link_to "Edit this restaurant", edit_restaurant_path(restaurant), data: {turbo_frame: restaurant}%> |
    </p>
  </div>
<% end %>
