<div id="<%= dom_id restaurant %>" class='border'>
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= restaurant.rating %>
  </p>

  <p>
    <%= link_to "Show this restaurant", restaurant, data: {turbo_frame: "_top"} %>
    <%= link_to "Edit this restaurant", edit_restaurant_path(restaurant) %> |
  </p>
  <div data-controller="websocket-restaurant"
  data-websocket-restaurant-room-id-value="<%= restaurant.id %>"></div>
</div>
