<div class="container px-0" data-controller='geolocation'>
  <h1><%= Time.now %></h1>
  <p style="color: green"><%= notice %></p>
  <%= render "form", restaurant: Restaurant.new  %>
  <h1>Restaurants</h1>
  <%= turbo_frame_tag 'restaurants' do %>
    <%= render @restaurants %>
  <% end %>
  <%= link_to "New restaurant", new_restaurant_path %>
</div>
