<%= turbo_frame_tag @restaurant do %>
  <p style="color: green"><%= notice %></p>

      <%= turbo_frame_tag @restaurant do %>
      <div id="<%= dom_id @restaurant %>" class='border'>
        <p>
          <strong>Name:</strong>
          <%= @restaurant.name %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @restaurant.address %>
        </p>

        <p>
          <strong>Rating:</strong>
          <%= @restaurant.rating %>
        </p>

        <p>
          <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), data: {turbo_frame: @restaurant}%> |
          <%= link_to "Back to restaurants", root_path, data: {turbo_frame:  "restaurants" } %>
          <%= button_to "Destroy this restaurant", @restaurant,data: {turbo_frame:  "restaurants" }, method: :delete  %>
        </p>
        <div data-controller="websocket-restaurant"
        data-restaurant-id-value="<%= @restaurant %>"></div>
      </div>
    <% end %>


<% end %>
